.button {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1em;
    padding: .5em 1em;
    border: .2em solid black;
    outline: none;
    display: block;
    width: 150px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in;
}
.button:hover {
    background-color: black;
    color: rgb(238, 238, 238);
}
